<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../../static/css/admin/style.css">
	<script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../static/plugins/bootstrap/js/bootstrap.min.js"></script>


	<script type="text/javascript" src="../../static/plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<script src="../../static/plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../../static/plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->

	<script type="text/javascript" src="../../static/js/base_pagination.js"></script>
	<script type="text/javascript" src="../../static/js/service/musicService.js"></script>
	<script type="text/javascript" src="../../static/js/controller/musicController.js"></script>
	<script>
		var latest=[

		]
	</script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="eazymusic" ng-controller="musicController" ng-init="reloadList()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">音乐审核</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="删除" ng-click="dele()" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="审核通过" ng-click="updateStatus(1)"><i class="fa fa-check"></i> 审核通过</button>
                                        <button type="button" class="btn btn-default" title="驳回" ng-click="updateStatus(2)"><i class="fa fa-ban" ></i> 驳回</button>
                                        <button type="button" class="btn btn-default" title="刷新" ><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    音乐名称：<input >
									<button class="btn btn-default" >查询</button>                                    
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue" >
			                              </th> 
										  <th class="sorting_asc">音乐ID</th>
									      <th class="sorting">音乐名称</th>
									      <th class="sorting">作者</th>
									      <th class="sorting">出版社</th>
									      <th class="sorting">时长</th>
									      <th class="sorting">歌词地址</th>
									      <th class="sorting">音乐地址</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
								  <tr ng-repeat="entity in list">
									  <td><input  type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
									  <td>{{entity.musicId}}</td>
									  <td>{{entity.name}}</td>
									  <td>{{entity.author}}</td>
									  <td>{{entity.publisher}}</td>
									  <td>{{entity.time}}</td>
									  <td>{{entity.lyricSrc}}</td>
									  <td>
                                          {{entity.src}}
                                      </td>
									  <td class="text-center" >
										  <a ng-click="deleteSingle(entity.musicId);reloadList()" class="btn bg-olive btn-xs">删除</a>
									  </td>
								  </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->
							<tm-pagination conf="paginationConf"></tm-pagination>
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
        
</body>

</html>