<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.ListenListMapper" >
  <resultMap id="BaseResultMap" type="com.demo.pojo.ListenList" >
    <id column="listen_list_id" property="listenListId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="music_id" property="musicId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    listen_list_id, user_id, music_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.pojo.ListenListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from listen_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from listen_list
    where listen_list_id = #{listenListId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from listen_list
    where listen_list_id = #{listenListId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.pojo.ListenListExample" >
    delete from listen_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.pojo.ListenList" >
    insert into listen_list (listen_list_id, user_id, music_id
      )
    values (#{listenListId,jdbcType=INTEGER}, #{userId,jdbcType=CHAR}, #{musicId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.pojo.ListenList" >
    insert into listen_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="listenListId != null" >
        listen_list_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="musicId != null" >
        music_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="listenListId != null" >
        #{listenListId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="musicId != null" >
        #{musicId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.pojo.ListenListExample" resultType="java.lang.Integer" >
    select count(*) from listen_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update listen_list
    <set >
      <if test="record.listenListId != null" >
        listen_list_id = #{record.listenListId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.musicId != null" >
        music_id = #{record.musicId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update listen_list
    set listen_list_id = #{record.listenListId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=CHAR},
      music_id = #{record.musicId,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.pojo.ListenList" >
    update listen_list
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="musicId != null" >
        music_id = #{musicId,jdbcType=CHAR},
      </if>
    </set>
    where listen_list_id = #{listenListId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.ListenList" >
    update listen_list
    set user_id = #{userId,jdbcType=CHAR},
      music_id = #{musicId,jdbcType=CHAR}
    where listen_list_id = #{listenListId,jdbcType=INTEGER}
  </update>
</mapper>